src/fbognini.Notifications.MTarget/miscellaneous/api-private.wsdl

<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://webservices.nti.com/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.nti.com/" name="WSApiSmsService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://webservices.nti.com/" schemaLocation="http://api.mtarget.fr:80/SmsWebServices/WSApiSmsService?xsd=1"/>
		</xsd:schema>
	</types>
	<message name="ping">
		<part name="parameters" element="tns:ping"/>
	</message>
	<message name="pingResponse">
		<part name="parameters" element="tns:pingResponse"/>
	</message>
	<message name="sendSMS">
		<part name="parameters" element="tns:sendSMS"/>
	</message>
	<message name="sendSMSResponse">
		<part name="parameters" element="tns:sendSMSResponse"/>
	</message>
	<message name="getDate">
		<part name="parameters" element="tns:getDate"/>
	</message>
	<message name="getDateResponse">
		<part name="parameters" element="tns:getDateResponse"/>
	</message>
	<portType name="WSApiSms">
		<operation name="ping">
			<input wsam:Action="http://webservices.nti.com/WSApiSms/pingRequest" message="tns:ping"/>
			<output wsam:Action="http://webservices.nti.com/WSApiSms/pingResponse" message="tns:pingResponse"/>
		</operation>
		<operation name="sendSMS">
			<input wsam:Action="http://webservices.nti.com/WSApiSms/sendSMSRequest" message="tns:sendSMS"/>
			<output wsam:Action="http://webservices.nti.com/WSApiSms/sendSMSResponse" message="tns:sendSMSResponse"/>
		</operation>
		<operation name="getDate">
			<input wsam:Action="http://webservices.nti.com/WSApiSms/getDateRequest" message="tns:getDate"/>
			<output wsam:Action="http://webservices.nti.com/WSApiSms/getDateResponse" message="tns:getDateResponse"/>
		</operation>
	</portType>
	<binding name="WSApiSmsPortBinding" type="tns:WSApiSms">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="ping">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="sendSMS">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getDate">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="WSApiSmsService">
		<port name="WSApiSmsPort" binding="tns:WSApiSmsPortBinding">
			<soap:address location="http://api.mtarget.fr:80/SmsWebServices/WSApiSmsService"/>
		</port>
	</service>
</definitions>